{{#each this}}
<li class="film-list__item">
    <a class="film-list__link" href="#">
        <div class="film-list__thumb">
            {{#if poster_path}}
            <img data-id="{{id}}" class="film-list__img" src="https://image.tmdb.org/t/p/w500/{{poster_path}}"
                alt="{{title}}">
            {{else}}
            <img data-id="{{id}}" class="film-list__img"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/488px-No-Image-Placeholder.svg.png"
                alt="{{original_title}}">
            {{/if}}
        </div>
        <div class="film-list__info">
            <h3 class="film-list__title">{{original_title}}</h3>
            <p class="film-list__genre">
                {{genre_ids}} | {{release_date}}
                <span class="modal__value-avarage modal__value-avarage-margin">{{vote_average}}</span>
            </p>
        </div>
    </a>
</li>
{{/each}}