
{{#each this}}
        <li class="film-list__item" data-id="{{id}}">
        <a class="film-list__link" href="#">
            <div class="film-list__thumb">
                <img class="film-list__img" src="{{poster_path}}" alt="{{original_title}}">
            </div>
            <div class="film-list__info">
                <h2 class="film-list__title">{{original_title}}</h2>
                <p class="film-list__genre">
                {{genre_ids}} | {{release_date}}
                </p>
            </div>
        </a>
        </li>
{{/each}}