{{#each this}}
  <!-- /////////////////////////////////////////////////////////////////////////-->
  <li class='team-list__item' data-id='{{id}}'>
    <article class='teammate'>
      <div class='image-wrapper'>
        <img
          srcset='{{img.url}} 1x, {{img.large-url}} 2x'
          src='{{img.url}}'
          alt='Photo of {{name}}'
          width='200'
          height='200'
          class='teammate__image'
        />
      </div>

      <div class='caption'>
        <h3 class='name'>
          {{name}}
        </h3>

        <p class='role'>
          {{role}}
        </p>

        <ul class='socials'>
          {{#each this.socials}}
            <li class='social__item'>
              <a href='{{url}}' class='social-link'>
                <svg class='social__icon' width='20' height='20'>
                  <use href='../src/images/sprite.svg#{{type}}'></use>
                </svg>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </article>

  </li>
{{/each}}

{{! <li class='teams__item'>
  <img src='../src/images/teammates/aleksandr-seleznyov.jpg' alt='aleksandr-seleznyov' />
  <div class='teams__content'>
    <h3 class='teams__subtitle'>aleksandr-seleznyov</h3>
    <p class='teams__text'>dev</p>

  </div>
</li> }}

{{!     "img": {
      "url": "https://raw.githubusercontent.com/d-afanasiev/Filmoteka/main/src/images/teammates/stanislav-yushkov.jpg",
      "large-url": "https://raw.githubusercontent.com/d-afanasiev/Filmoteka/main/src/images/teammates/stanislav-yushkov.jpg@x2"
    },
     }}