{{#each this}}
  <li class='team-list__item' data-id='{{id}}'>
    <article class='teammate'>
      <div class='image-wrapper'>
        <img
          srcset='{{img.url}} 1x, {{img.large-url}} 2x'
          src='{{img.url}}'
          alt='Photo of {{name}}'
          width='200'
          height='200'
          class='teammate__image'
        />
      </div>

      <div class='caption'>
        <h3 class='name'>
          {{name}}
        </h3>

        <p class='role'>
          {{role}}
        </p>

        <ul class='socials'>
          {{#each this.socials}}
            <li class='social__item'>
              <a href='{{url}}' class='social-link social__icon social__icon--{{type}}'></a>
            </li>
          {{/each}}
        </ul>
      </div>
    </article>

  </li>
{{/each}}